fontname_base = "%Fnbase%"
family = "%Family%"
weight = "%Weight%"
year   = "2012"
version = "1.049"

fontname = fontname_base + "-" + weight
copyright = "Copyright(c) " + year + " M+ FONTS PROJECT"

fullname_lower = family + "-" + weight
fullname = ""; i = 0; len = Strlen(fullname_lower); while (i < len)
	_c = Strsub(fullname_lower, i, i+1)
	if (i == 0 && Ord(_c)[0] >= Ord('a')[0] && Ord(_c)[0] <= Ord('z')[0])
		fullname = Chr(Ord(_c)[0] - 32)
	elseif (_c == '-')
		fullname = fullname + ' '
	else
		fullname = fullname + _c
	endif
i++; endloop

SetFontNames(fontname, family, fullname, weight, copyright, version)
SetOS2Value("VendorID", "M+  ")
SetTTFName(0x409, 1, Strsub(fullname, 0, Strlen(family)) + " " + weight);
SetTTFName(0x409, 11, "http://mplus-fonts.sourceforge.jp");
SetTTFName(0x409, 16, Strsub(fullname, 0, Strlen(family)));
SetTTFName(0x409, 17, weight);

panose = [2, 11, 0, 2, 2, 2, 3, 2, 2, 7]
SetOS2Value("IBMFamily", 8 * 256 + 6)

if (weight == "black") 
	panose[2] = 9;  panose[3] = 2
#	SetOS2Value("fsSelection", 0x20)
#	SetOS2Value("usWeightClass", 900)
	SetMacStyle("Bold")
	SetTTFName(0x409, 2, "Bold");
elseif (weight == "heavy")
	panose[2] = 8;  panose[3] = 2
#	SetOS2Value("usWeightClass", 800)
#	SetOS2Value("fsSelection", 0x20)
	SetMacStyle("Bold")
	SetTTFName(0x409, 2, "Bold");
elseif (weight == "bold")
	panose[2] = 7;  panose[3] = 2
#	SetOS2Value("usWeightClass", 700)
#	SetOS2Value("fsSelection", 0x20)
	SetMacStyle("Bold")
	SetTTFName(0x409, 2, "Bold");
elseif (weight == "medium")
	panose[2] = 6;  panose[3] = 2
#	SetOS2Value("usWeightClass", 500)
	SetTTFName(0x409, 2, "Regular");
elseif (weight == "regular")
	panose[2] = 5;  panose[3] = 2
#	SetOS2Value("usWeightClass", 400)
#	SetOS2Value("fsSelection", 0x02)
	SetTTFName(0x409, 2, "Regular");
elseif (weight == "light")
	panose[2] = 4;  panose[3] = 3
#	SetOS2Value("usWeightClass", 300)
	SetTTFName(0x409, 2, "Regular");
elseif (weight == "thin")
	panose[2] = 3;  panose[3] = 3
#	SetOS2Value("usWeightClass", 100)
	SetTTFName(0x409, 2, "Regular");
else
	panose[2] = 0;  panose[3] = 0
	SetTTFName(0x409, 2, "Regular");
endif

if ( (Strstr(fontname,"m-") != -1) || (Strstr(fontname,"mn-") != -1) )
	panose[3] = 9
	SetOS2Value("IBMFamily", 8 * 256 + 9)
endif

SetPanose(panose)

SetOS2Value("WinAscentIsOffset"   , 0)
SetOS2Value("WinDescentIsOffset"  , 0)
SetOS2Value("HHeadAscentIsOffset" , 0)
SetOS2Value("HHeadDescentIsOffset", 0)
SetOS2Value("WinAscent"   , 1075)
SetOS2Value("WinDescent"  ,  320)
SetOS2Value("HHeadAscent" , 1075)
SetOS2Value("HHeadDescent", -320)
SetOS2Value("HHeadLineGap",   90)
