FONTNAME_BASE:=	%%FONTNAME_BASE%%
FAMILY:=	%%FAMILY%%
MODULES_KANA:=	%%MODULES_KANA%%
MODULE_LATIN:=	%%MODULE_LATIN%%

WEIGHT:=	%%WEIGHT%%

SCRIPTS=	set_bearings set_kernings set_fontnames
MODULES=	$(MODULES_KANA) ${MODULE_LATIN}

${FONTNAME_BASE}-${WEIGHT}.ttf: build-ttf.pe $(SCRIPTS)
	/usr/local/bin/fontforge -script build-ttf.pe $@ $(MODULES)

set_bearings: ../../../../svg.d/${MODULE_LATIN}/bearings
	perl ../../../../scripts/split-bearing.pl ${WEIGHT} $(MODULES) > $@

set_kernings: ../../../../svg.d/${MODULE_LATIN}/kernings
	perl ../../../../scripts/split-kerning.pl ${WEIGHT} $(MODULES) > $@

build-ttf.pe: ../../../../scripts/build-ttf.pe
	ln -s ../../../../scripts/build-ttf.pe $@

set_fontnames: ../../../../scripts/set_fontnames.tmpl
	sed 's/%Fnbase%/${FONTNAME_BASE}/;s/%Family%/${FAMILY}/g;s/%Weight%/${WEIGHT}/g' ../../../../scripts/set_fontnames.tmpl > $@

clean:
	rm -f *~ *.ttf build-ttf.pe set_bearings set_kernings set_fontnames tmp.sfd
